input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: black;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: black;
  -webkit-appearance: none;
}
